@media only screen and (max-width: 992px) {
    .table-container {
        overflow-x: scroll !important;
        margin: auto;
        
    }

    .qr-img{
        width: 30px !important;
    }
    .ticket-container{
        min-width: 100% !important;
    }
    #chart{
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .table-container {
        overflow-x: scroll !important;
        margin: auto;
    }
    .ticket-container{
        min-height: 400px !important;
    }
    .serch-section{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start !important;
    }
}

@media only screen and (max-width: 600px) {
    .table-container {
        overflow-x: scroll !important;
        margin: auto;
    }
    .serch-section{
        display: flex;
        flex-direction: column;
    }
    .togle-contact{
        margin-top: 20px;
        margin-right: 20px;
        justify-content: start !important;
    }

    .search{
        width: 200px !important;
    }
    
    .search-sm{
        display: flex;
        flex-direction: column;
    }

    .circle1{
        transform: translateX(+0%);
        border-radius: 50% 0% 0% 50%;
        /* display: none; */
    }
    .circle2{
        transform: translateX(-0%);
        border-radius: 0% 50% 50% 0%;
    }

    .w-80{
        width: 80% !important;
    }

    .my-filter-sm{
        display: none !important;
    }
    
    .my-filter{
        display: none !important;
    }

    .view-page{
        margin-right: 55px !important;
    }
}